/* .container{
    position: absolute;
    top: 20%;
    left: 15%;
    bottom: 20%;
    right: 15%;
    border: 1px solid black;
    border-radius: 5px;
} */

/* .key{
    position: relative;
    left: 32%;
    align-items: center;
} */

.features{
    position: inherit;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(22, 17, 17);
}

#f1,
#f2{
    /* position: absolute; */
    top:10%;
    width:45%;
    height:38%;
    left: 2%;
}

#f2{
    left: 50%;
}

#f3,
#f4{
    /* position: absolute; */
    top:55%;
    width: 45%;
    height:38%;
    left: 2%;
}

#f4{
    left: 50%;
}

.row1,
.row2{
    position: absolute;
    left: 15%;
    top: 20%;
}

.row2{
    top:45%;
}

